<div class="home-video-wrapper">
  <video autoplay muted loop id="home_video" >
    <source src=<%= ActionController::Base.helpers.asset_path('background-video.mp4') %> type="video/mp4">
  </video>
</div>
<div class="container">
  <h1 class="text-white text-center" id="typed-text"></h1>
</div>